*{
    margin: 0px;
    padding: 0px;
   
}

.fa-briefcase{
    padding-right: 6px;
    color: #ffffff;
}

body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.top-navbar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid rgb(19, 149, 192);
    z-index: 2;
}

.logo{
    height: 40px;
    margin: 5px 10px;
}

.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid rgb(19, 149, 192) !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}

.input-group-text{
    background: rgb(19, 149, 192) !important;
    border: 1px solid rgb(19, 149, 192) !important;
    margin: 8.5px 10px 3px 0  !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
}

.search-box{
    display: inline-flex;
    width: 60%;
}

.fa-search{
    color: #fff;
    padding-right: 15px;
}

.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul{
    display: inline-flex;
    float: right;
}

.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: rgb(19, 149, 192);
    cursor: pointer;
}

.menu-bar ul li a{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
        text-decoration: none;
}

.fa-shopping-basket{
    margin-right: 5px;
}
.fa-sign-in{
    margin-right: 5px;
}
.fa-user-plus{
    margin-right: 5px;
}

@media only screen and (max-width: 980px)
{
    .top-navbar{
        height: 118px;
        border-bottom: 0;
    }
    .search-box{
        width:100%;
    }
    .menu-bar{
        width: 100%;
    }
    .menu-bar ul{
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li{
        height: 57px;
        width: 100%;
    }
}

/* ---------------------------------Dropdown menu---------------------------- */

.sub-menu1{
    display: none;
    
}



.sub-menu1 ul li a{
    color: rgba(0, 0, 0, 0.950);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



.fa-user-circle{
    color:  rgb(19, 149, 192);
    margin-right: 7px;
}

.fa-window-maximize{
    color:  rgb(19, 149, 192);
    margin-right: 7px;
}


.fa-sign-out{
    color:  rgb(19, 149, 192);
    margin-right: 10px;
}



.menu-bar ul li:hover .sub-menu1
{
    display: block;
    position: absolute;
    color: black;
    margin-top: 8px;
    margin-left: -25px;
}

.menu-bar ul li:hover .sub-menu1 ul{
        display: block;
        margin: 3px;
    
        
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: 150px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px dotted grey;
    border-radius: 0;
    text-align: left;
    
    
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border: none;
}

.menu-bar ul li:hover .sub-menu1 ul li a:hover{
        color: rgb(19, 149, 192);
}

/* ----------------------------------Drop down second--------------------------- */

.sub-menu2{
    display: none;
    
}

.fa-shopping-cart{
    color:  rgb(19, 149, 192);
    margin-right: 7px;
}

.fa-gift{
    color:  rgb(19, 149, 192);
    margin-right: 7px;
}


.sub-menu2 ul li a{
    color:black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.menu-bar ul li:hover .sub-menu2
{
    display: block;
    position: absolute;
    color: black;
    margin-top: 8px;
    margin-left: -85px;
}

.menu-bar ul li:hover .sub-menu2 ul{
        display: block;
        margin: 10px;
    
        
}
.menu-bar ul li:hover .sub-menu2 ul li{
    width: 220px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px dotted grey;
    border-radius: 0;
    text-align: left;
    
    
}

.menu-bar ul li:hover .sub-menu2 ul li:last-child{
    border: none;
}

.menu-bar ul li:hover .sub-menu2 ul li a:hover{
        color: rgb(19, 149, 192);
}

/* ------------------------------Drop-down Menu--------------------------- */

.main-dropdown{
    background: rgb(19, 149, 192);
    text-align: left;   
    height: 35px;
     margin-top: -18px; 
     font-family: sans-serif; 
}

.main-dropdown ul{
    display: inline-flex;
    list-style: none;
    color: #fff
    
}
.main-dropdown ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    padding-left: 150px;
    margin-top: -8px;
    

}

.main-dropdown ul li a{
text-decoration: none;
color: #fff;
font-weight: bold;
font-family: sans-serif;

}


.sub-menu3{
    display: none;
}

.sub-menu3 ul li a{
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.main-dropdown ul li:hover .sub-menu3{
    display: block;
    position: absolute;
    color: black;
    margin-left: -40px;
}

.main-dropdown ul li:hover .sub-menu3 ul{
    display: block;
    margin: 6px;
    
}

.main-dropdown ul li:hover .sub-menu3 ul li{
    width: 150px;
    height: 1px;
    padding: 20px;
    padding-bottom: 29px;
    background-color: #fff;
    border-bottom: 1px dotted grey;
    border-radius: 0;
    text-align: center;
    
}
.main-dropdown ul li:hover .sub-menu3 ul li:last-child{
    border-bottom: none;
}

.main-dropdown ul li:hover .sub-menu3 ul li a:hover{
    color: rgb(19, 149, 192);
}

/* --------------------------------Electronics------------------------- */


.electro-box{
    margin: 100px 0;
}

.title-style h1{
    padding: 10px 0;

}


.title-style{
    margin: 0 auto 80px;
    height: 80px;
    width: 28%;
 
    max-width: 700px;
    background: #fff;
    position: relative;
    box-shadow: 0px 4px 5px 0px #000001;
}

.title-style::after{
    content: '';
    height: 60px;
    width: 120px;
    background-color: rgb(19, 149, 192);
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: -1;
}

.title-style::before{
    content: '';
    height: 60px;
    width: 120px;
    background-color: rgb(19, 149, 192);
    position: absolute;
    bottom: -7px;
    right: -7px;
    z-index: -1;
}
/* ---------------------------------------Banner---------------------------- */

.image img{
    height: 300px;
    width: 675px;
    margin-left: -120px;
}

.image2 img{
    height: 300px;
    width: 675px;
    margin-left: 272px;
}

#hp{
    height: 80px;
    width: 120px;
    margin-top: 32px;
}

#lenovo{
    margin-top: -13px;
}
#acer{
    height: 50px;
    width: 120px;
    margin-top: 10px;
}

#asus{
    margin-top: -17px;
    
}

#msi{
    height: 100px;
    width: 150px;
    margin-top: 18px;
    margin-left: 110px;
}

#apple{
    height: 60px;
    width: 120px;
    margin-top: 15px;
    margin-left: 120px;

}




/* ----------------------------------------Brands------------------------------- */


.website-features2{
    margin: 60px 0;
}

.website-features2 img{
    width: 50%;
    margin-left: 100px;
    transition: 1s;
    cursor: pointer;
}

.website-features2 img:hover{
    transform: scale(1.1);
}

.website-features2 .honor{
    width: 80%;
    margin-top: -20px;
    margin-left: 55px;
}

.website-features2 .poco{
    width: 40%;
    margin-top: 13px;
}

/* -----------------------------------------Featured products------------------------ */

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: black;
}

.title:after{
    content: '';
    background: rgb(19, 149, 192);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.feature-box1{
    margin-top: -28px;
}

.rating .fa{
    font-size: 11px;
    color: gold;
}
.features-categories img{
    width: 50px;
    height: 110px;
    margin-left: 100px;
    transition: 1s;
    cursor: pointer;
}

.rating{
    margin-left: 95px;
}
.caption1{
    margin-left: 55px;
}

.shift{
    margin-left: 30px;
}
.price{
    margin-left: 46px;
}

.features-categories img:hover{
    transform: scale(1.1);
}


#laptops{
    width: 130px;
    height: 90px;
    margin-left: 65px
}
#laptops1{
    width: 150px;
    height: 90px;
    margin-left: 55px
}
#laptops2{
    width: 130px;
    height: 90px;
    margin-left: 65px
}
#laptops3{
    width: 130px;
    height: 100px;
    margin-top: -7px;
    margin-left: 65px;
}

#laptops4{
    width: 140px;
    height: 90px;
    margin-left: 65px
}
#laptops5{
    width: 145px;
    height: 90px;
    margin-left: 65px
}
#laptops6{
    width: 140px;
    height: 90px;
    margin-left: 65px
}

#laptops7{
    width: 135px;
    height: 90px;
    margin-left: 65px;
}

#laptops8{
    width: 140px;
    height: 90px;
    margin-left: 65px;
}
#laptops9{
    width: 140px;
    height: 90px;
    margin-left: 65px;
}

#laptops10{
    width: 140px;
    height: 90px;
    margin-left: 62px;
}

#laptops11{
    width: 140px;
    height: 90px;
    margin-left: 65px;
}


.move{
    margin-left: -15px;
}

#move1{
    margin-left: 12px;
}
#move2{
    margin-left: 1px;
}

#move3{
    margin-left: -20px;
}
#move4{
    margin-left: -2px;
}

#move5{
    margin-left: 25px;
}
/* ------------------------------------On sale--------------------------------- */

#title2{
    margin-top: 65px;
}

.poco1{
    margin-left: -15px;
}

.str{
    color: black;
}


.price1{
    margin-left: 20px;
    color: green;
}
.price11{
    margin-left: 46px;
}

.price2{
    margin-left: 23px;
    color: green;
}


.shift1{
    margin-left: 46px;
}

.price3{
    margin-left: 30px;
    color: green;
}

.price4{
    margin-left: 23px;
    color: green;
}


/* ---------------------------------------Banner2------------------------------ */


.image3 img{
    height: 220px;
    width: 415px;
    margin-left: -69px;
    
}

.image4 img{
    height: 220px;
    width: 416px;
    margin-left: 71px;
}

.image5 img{
    height: 220px;
    width: 415px;
    margin-left: 212px;
}

.feature2{
    margin-top: 120px;
}


#bestsell{
    margin-top: 100px;
}

#bestsell2{
    margin-left: 44px;
}

#bestsell3{
    margin-left: 20px;
}

/* --------------------------------Website features---------------------- */


.website-features{
    margin: 60px 0;
}

.website-features img{
    width: 20%;
    margin-left: 100px;
}

.featured-text{
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.featured-box{
    
    padding-top: 20px;
}

/* ------------------------------------Footer-------------------------------- */

.footer{
    margin-top: 50px;
    background: rgb(58, 154, 185);
    color: #fff;
}
.footer h1{
    font-size: 15px;
    margin: 25px 0;
}
.footer p{
    font-size:12px;
}

.footer .row .fa{
    padding-right: 20px;
    font-size: 15px;

}


.footer-image img{
    height: 120px;
    width: 120x;
    padding-bottom: 5px;
    margin-bottom: 50px;
}

.endd{
    padding-bottom: 20px;
}

.footer hr{
    margin-top: -20px;
    background-color: #ccc;
}