/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 Sep, 2020, 3:30:54 AM
    Author     : asdf
*/


body{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    
}
.logo{
    height: 90px !important;
    width: 180px;
    margin: 5px 10px;
}

/*------------------------Registration Form-------------------*/

.main{
  display: inline-flex;
  
  height: 70%;
  width: 100%;
  
}
.heading{
    font-family: "Playfair Display" , sans-serif;
    font-weight: 700;
    margin-top: 20px;;
    text-align: center;
}
.reg-frm{
    padding: 5px 2px;
    background-color: #3AAFA9;
    padding: 2px 5px !important;
    margin-left: 35%;
    margin-top: 2% !important ;
    color: #000;
    height: 90% !important;
    width: 30%;
}
.my-inpt{
    margin-left:10%;
    width: 65%;
    padding: 0px 10px;
    box-sizing: inherit;
    
}

.sbtn{
   color: #666;
    background-color: #fff;
    border-left:0px important;
    border:1px solid #777;
    border-collapse: collapse;  
}

.nbtn{
    margin-left: 10%;
    color: #666;
    background-color: #fff;
    margin-right: 0px important;
    border:1px solid #777;
    border-collapse: collapse;
    
}
.frm-head{
    margin-top: 2%;
    text-align: center !important;
    color: #000 !important;
}

.mn{
width: 50%;
padding: 0px 10px;
}
.sign-btn{
    color: #fff;
    background-color: #00f;
    width: 65%;
    border-radius: 10px;
    margin-left: 10%;
    border: 1px solid #55ACEE; 
    text-align: center;
}
.input-head{
    margin-bottom: 0px !important;
}